@vnav-background-color:           @gray-lighter;
@vnav-item-background-color:      white;
@vnav-color:                      @gray;
@vnav-border-color:               @table-border-color;

.vnav {
  background-color: @vnav-background-color;
  border-width: 1px;
  border-style: solid;
  border-color: @vnav-border-color;
  border-radius: @border-radius-base;
}

.vnav-children-wrapper {
  padding-left: 10px;
}

.search-wrapper {
  padding: 10px;
}

.search-clearer {
  background-color: @alert-warning-bg;
  border-color: @alert-warning-border;
  border-width: 1px;
  border-style: solid;
  color: @state-warning-text;
  padding: @padding-base-vertical @padding-large-horizontal;
}

.search-clearer i.fa {
  margin-top: 3px;
  float: right;
  cursor: pointer;
}

.search-wrapper .input-group-addon {
  border-left: 0;
  cursor: pointer;

  // no-select
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vnav-item {
  background-color: @vnav-item-background-color;
  padding: @padding-base-vertical @padding-large-horizontal;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: @vnav-border-color;
  cursor: pointer;

  // no-select
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// first vnav-items hierarchically
.children-wrapper > .vnav-item-wrapper > .vnav-item {
  border-width: 1px 0 0 0;
}

.vnav-item-text.with-icon {
  margin-left: 10px;
}

.vnav-icon {
}

.vnav-item .plus-wrapper {
  margin-top: 3px;
  float: right;
}